# ju 10-Aug-20 .gitignore
*.lot                        
*.blg
*.out      
*.fdb_latexmk
*.aux   
*.bcf 
*.bbl
*.lof 
*.ilg
*.toc     
*.ind   
*.sty 
*.log
*.fls
*.run.xml                
*.idx

cms-lokal/     
cms-server/      
html/         
tex-pandoc/
img-out/
md/build/

!git-log.txt
!README.pdf
!praeambel.sty
!praeambel-artikel.sty

book.pdf
print.pdf
*-artikel.pdf 
index.html 
